/* Rock Paper Scissors - DOM Manipulation version project from The Odin Project Web Development 101 course
  https://www.theodinproject.com/courses/web-development-101/lessons/dom-manipulation?ref=lnav#learning-outcomes */

* {
    font-family: Palatino, sans-serif;
    color:  black;
}



#center {
    margin: auto;
    width: 50%;
}

header {
  font-family: Palatino, sans-serif;
  color: black;  
  font-size:  2rem;
  margin: auto;
  width: 50%;
}


#buttons {
    margin: auto;
    width: 50%;
}
button {
    border-style: solid;
    color: black;
    font-size: 1rem;
    border-color: black;
    background-color: white;
    border-radius: 90%;
    padding: .5rem;
}

#rock {
    background-image: url("greenish-rock.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}


#paper{
    background-image: url("lined-paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#scissors {
    background-image: url("Pair_of_scissors_with_black_handle,_2015-06-07.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#score {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
}

#score > div  {
   margin: 1rem;
    border-style: groove;
    border-color: #68228b;
    border-width: .25rem;
}

#message, #computerChoice, #winner {
    margin: 1rem;
    font-size: 1.5rem;
}

#computerChoice, #message {
    color: #68228b;
}

#winner {
    margin: 1rem;
    border-style: ridge;
    border-width: .25rem;
    border-color: black;
    border-radius: .7rem;
    color: red;
}

.blink_me {
    animation: blinker 3s linear infinite;
    color: red;
}

@keyframes blinker {
    100% {opacity: 0;}
}
