* {
    font-family: Palatino, sans-serif;
}



#center {
    margin: auto;
    width: 50%;
}

header {
  font-family: Palatino, sans-serif;
  font-size:  2rem;
   margin: auto;
    width: 50%;
  /*margin: 1rem auto 1rem;*/
}


#buttons {
    margin: auto;
    width: 50%;
}
button {
    font-size: 1rem;
    border-color: black;
    background-color: white;
    border-radius: 90%;
    padding: .5rem;
   border-style: solid;
  
}

#rock {
    background-image: url("greenish-rock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


#paper{
    
}

#scissors {
    background-image: url("Pair_of_scissors_with_black_handle,_2015-06-07.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#score {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#score > div  {
   margin: 1rem;
    border-style: groove;
    border-color: darkorchid4;
    border-width: .25rem;
}

#message, #computerChoice, #winner {
    margin: 1rem;
    font-size: 1.5rem;
}

#winner {
    margin: 1rem;
    border-style: ridge;
    border-width: .25rem;
    border-color: black;
    border-radius: .7rem;
    color: red;
}

.blink_me {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    100% {opacity: 0;}
}
